<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Eddyog | Home</title>
    <meta name="description" content="Home of Temple Inn & Suites">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <!-- <link rel="stylesheet" media="screen and (min-width: 600px)" href="/home/style/home_medium.css">
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/home/style/home_large.css"> -->


</head>

<body>
    <picture class="banner-out">
        <source srcset="/home/images/banner.jpg" media="(max-width: 600px)">
        <img id="banner" src="" alt="banner Image">
    </picture>
    <header>
        <h1 id="title_page">Website Title</h1>
    </header>

    <nav>
        <a id="menu-link" onclick="hamburgerMenu()">&#9776; Menu</a>
        <ul class="menu">
            <li id="current-page"><a href="../index.html">Home</a></li>
            <li><a href="/view/languages.html">Python</a></li>
            <li><a href="/view/languages.html">C++</a></li>
            <li><a href="/view/languages.html">Web Development</a></li>
            <li><a href="/view/languages.html">Others</a></li>
        </ul>
    </nav>
    <main class="fade">
 

    </main>

    <footer>
        &copy;2022 eddyog | <a href="/contact/contact.html">Contact Us</a> | <a href="/coming-soon/coming-soon.html">Guest
            Policies</a>
        <p class="sub-footer"><a href="/coming-soon/coming-soon.html">Attributions</a> | <a
                href="https://eddyog.github.io/">Eddy Gonzalez</a></p>
        <script src="/home/js/home_js.js"></script>
        <script src="/home/js/images.js" ></script>
        <script src="/home//js/content.js"></script>

    </footer>
</body>

</html>